/* CropGuide.css */
.cropguide-image {
    /* Thick azure border */
    display: block; /* To enable margin auto to work for centering */
    margin: auto; /* Center the image */
    max-height: 75vh; /* Half the viewport height */
    width:max-content; /* Maintain aspect ratio */
  }
  
  /* Ensures the cards are laid out in the desired grid */
  .cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
    gap: 5rem;
    justify-content: center;
    margin: 5rem;
  }
  
  @media (max-width: 576px) {
    .cards-container {
      grid-template-columns: 1fr; /* Stack cards in one column on small screens */
    }
  }
  